const mix = require('laravel-mix');
const fs = require('fs-extra');
const path = require('path');

mix.js('resources/js/app.js', 'js')
  .vue({extractStyles: true})
  .postCss('resources/css/app.css', 'css', [
    require('tailwindcss')
  ])
  .copyDirectory('resources/imgs', 'public/vendor/job-watcher/imgs')
  .copyDirectory('resources/fonts', 'public/vendor/job-watcher/fonts')
  .webpackConfig({
    resolve: {
      alias: {
        '@': path.resolve(__dirname, 'resources/js'),
      }
    }
  })
  .version()
  .setPublicPath('public/vendor/job-watcher')
  .extract()
  // .disableSuccessNotifications()
